{% extends "layout.njk" %}


{% block content %}
<div class="card table-container">
    <a href="/members/create">Novo membro</a>
    <table> {# tabela #}
        <thead> {# thead - cabeçalho #}
            <tr> {# linha é a <tr> #}
                {# coluna é a <th> #}
                <th>Membro</th>
                <th>Email</th>
                <th>Peso</th>
                <th>Altura</th>
                                <th>Aniversario</th>


                <th>Ação</th>

            </tr>
        </thead>

        <tbody> {# corpo da tabela #}
            {% for member in members %}
                <tr>
                    {# coluna é a <td> #}
                    <td><span style="background-image: url({{member.avatar_url}})"></span>
                        {{member.name}}</td>   
                    <td>{{member.email}}</td>                           
                    <td>{{member.weight}}kg</td>                           
                    <td>{{member.height}}cm</td>
                                        <td>{{member.birth}}</td>                           
                           

                    <td> <a href="/members/{{member.id}}">Ver detalhes</a> </td>
                </tr>
            {% endfor%}
        </tbody>
    </table>


</div>
{% endblock content %}


