<html>
    <head>
        {% block head%}
             <title> Gym Manager</title>
        {% endblock %}

        <link rel="stylesheet" href="/styles.css">

    </head>


    <body>
        <div class="fundo">
        <header>
            <div class="links">
                <a href="/instructors">Instrutores</a>
                <a href="/members">Membros</a>
                {% for link in links %}
                    <a href="{{ link.url }}" target="_blank">{{ link.name }}</a>
                {% endfor %}

            </div>
            
        </header>

        <!-- parte dinamica, puxa o about -->
        {% block content %}
        {% endblock%}

        <script src="/scripts.js"></script>
    </body>
</html>