{% extends "layout.njk" %}


{% block content %}
<div class="card table-container">
    <table> {# tabela #}
        <thead> {# thead - cabeçalho #}
            <tr> {# linha é a <tr> #}
                {# coluna é a <th> #}
                <th>Instructor</th>
                <th>Atendimento</th>
            </tr>
        </thead>

        <tbody> {# corpo da tabela #}
            {% for instructor in instructors %}
                <tr>
                    {# coluna é a <td> #}
                    <td> {{instructor.name}}</td>                                
                    <td> {{instructor.services}} </td>
                </tr>
            {% endfor%}
        </tbody>
    </table>


</div>
{% endblock content %}


    {# <section class="avatar" 
    style="background: url(https://source.unsplash.com/collection/9419482/500x500) no-repeat center center / cover">

    </section>

    <section class="details">

        <h3>Detalhes</h3>

        <div class="item">
            <div>Instrutor</div>
            <div>Guilherme Saraiva</div>
        </div>

        <div class="item">
            <div>Idade</div>
            <div>25</div>
        </div>

        <div class="item">
            <div>Sexo</div>
            <div>Masculino</div>
        </div>

        <div class="item">
            <div>Acompanhamento</div>
            <div>
                <span>Musculação</span>
                <span>Crossfit</span>
            </div>
        </div>

        <div class="item">
            <div>Desde</div>
            <div>26/09/2016</div>
        </div>

    </section> #}